body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #7fd6ff;
}

header {
    display: flex;
    background-color: #2b2bd3;
    color: #eee;
    padding: 10px;
    justify-content: space-between;
}

main {
    margin: 1rem auto;
}

main div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    background-color: #ddd;
    border: 1px solid #ccc;
    margin: auto;
    height: 100%;
}

img {
    display: block;
    max-width: 400px;
    margin: 1rem;
    box-shadow: 5px 5px 10px #222;
}

h1,
h2,
p {
    text-align: center;
}

nav {
    margin-top: 1rem;
    display: block;
    align-items: center;
}

nav a {
    display: none;
    margin: 1rem;
    text-align: center;
    color: #eee;
    text-decoration: none;
}

nav a:hover {
    margin: .75rem;
    font-size: larger;
    border: 1px #7fffd4 solid;
    color: #7fffd4;
}

footer {
    display: flex;
}

footer {
    background-color: #2b2bd3;
    color: #eee;
    text-align: center;
    padding: 10px;
}

.header {
    padding-right: 10px;
    margin: 1rem;
    font-size: xx-large;
}

.yarndings {
    font-family: "Yarndings 20", system-ui;
    font-weight: 400;
    font-style: normal;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.open a {
    display: block;
}