body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #7fd6ff;
}

header {
    display: flex;
    background-color: #2b2bd3;
    color: #eee;
    padding: 10px;
    justify-content: space-between;
}

main {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.data,
.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #2b2bd3;
    color: #0e253a;
    padding: 10px;
    gap: 10px;
}

h1,h2,
.weather img {
    margin: 0 auto;
    text-align: center;
    grid-column: 1/3;
}

label {
    text-align: right;
    margin: auto 0;
}

p {
    margin: 0;
}

nav {
    margin-top: 1rem;
    display: block;
    align-items: center;
}

nav a {
    display: none;
    margin: 1rem;
    text-align: center;
    color: #eee;
    text-decoration: none;
}

nav a:hover {
    margin: .75rem;
    font-size: larger;
    border: 1px #7fffd4 solid;
    color: #7fffd4;
}

footer {
    display: flex;
}

footer {
    background-color: #2b2bd3;
    color: #eee;
    text-align: center;
    padding: 10px;
}

.header {
    padding-right: 10px;
    margin: 1rem;
    font-size: xx-large;
}

.yarndings {
    font-family: "Yarndings 20", system-ui;
    font-weight: 400;
    font-style: normal;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.open a {
    display: block;
}