@media screen and (min-width: 910px) {
    main div {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    nav a {
        display: block;
    }

    #menu {
        display: none;
    }
}