@media screen and (min-width: 1360px) {
    main div {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .data {
        position: absolute;
        top: 10px;
        left: 20px;
        opacity: 90%;
    }
}