:root {
    --color-main: #eee;
    --color-second: #111;
    --background-main: #2b2bd3;
    --background-second: #0e253a;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
}

header {
    color: var(--color-main);
    background-color: var(--background-main);
    text-align: center;
}

main {
    position: relative;
}

.hero img {
    width: 96vw;
    height: auto;
}

footer {
    background-color: var(--background-main);
    color: var(--color-main);
    text-align: center;
    padding: 10px;
}

.data,
.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-main);
    color: var(--color-second);
    padding: 10px;
    gap: 10px;
}

h2,
.weather img {
    margin: 0 auto;
    text-align: center;
    grid-column: 1/3;
}

label {
    text-align: right;
    margin: auto 0;
}

p {
    margin: 0;
}

.yarndings {
    font-family: "Yarndings 20", system-ui;
    font-weight: 400;
    font-style: normal;
}

