@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }

    header {
        flex-direction: row;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation a {
        padding: 1rem 1.5rem;
        border: none;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    main {
        max-width: 1000px;
    }
}