body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
    background-color: #2b2bd3;
    color: #eee;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

#menu {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: column;

}

.navigation a {
    display: none;
    margin: 1rem;
    text-align: center;
    color: #eee;
    text-decoration: none;
}

.navigation a:hover {
    margin: .75rem;
    font-size: larger;
    border: 1px #7fffd4 solid;
    color: #7fffd4;
}

.open {
    display: flex;
}

main {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem 0;
}

figure {
    margin: 0;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
}

footer {
    background-color: #2b2bd3;
    color: #eee;
    text-align: center;
    padding: 10px;
}